.content-area{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-area .inlustration-image{
    width:95%;
    height:80%;
    margin:auto;
}

.content-area .content-list{
    width:100%;
    margin-top:1rem;
}

.content-area .inlustration-image img{
    width: 100%;
    height:90%;
    border-radius:.7rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
} 

.content-area .content-list h2{
    font-size: 1.2rem;
    font-weight: 700;
    text-align:center;
}

.content-area .content-list ul{
    list-style: none;
    padding:0;
}

.content-area .content-list ul li{
    margin:1rem 0 1rem 1rem
}

@media screen and (min-width:768px){
    .content-area{
        flex-direction:row;
        margin:2rem;
    }

    .content-area .inlustration-image{
        width:100%;
        padding:0 .5rem;
    }
}
