@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --main-color-red:#E22C2C;
    --second-color-red:#A62C2C;
}

a, a:hover, a:focus{
    text-decoration: none;
    color:inherit;
}