.contact .contact-method{
    display:flex;
    flex-direction: column;
}

.contact .image-wrapper{
    display:flex;
    justify-content: center;
}

.contact .contact-method .content{
    padding: 0 1.5rem;
}

.contact .contact-method .content p{
    font-size:1.5rem;
    color:#000;
    text-align: center;
}